<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100', class:"mb-2 rounded-circle" %></tr>
  <tr>
	  <th>名前</th>
	  <th><%= customer.name %></th>
  </tr>
	<tr>
	  <th>フォロー中</th>
	  <th>
	    <%= link_to customer_followings_path(customer) do %>
	      <%= customer.followings.count %>
	    <% end %>
	  </th>
	 </tr>
	<tr>
	  <th>フォロワー</th>
	  <th>
	    <%= link_to customer_followers_path(customer) do %>
	      <%= customer.followers.count %>
	    <% end %>
	  </th>
	</tr>
</table>
<div class="card mb-3">
	<h5 class="card-header">コメント</h5>
	<div class="card-body">
		<%if customer.introduction.nil? %> <!--空白だとsplitでエラーが発生するため。-->
		<p class="card-text"><%= customer.introduction %></p>
		<% else %>
		<p class="card-text"><%= safe_join(customer.introduction.split("\n"),tag(:br)) %></p>
		<%end %>
	</div>
</div>


<div class='row'>
	<% if customer.email == 'guest@example.com' %>
	  <p>ゲストユーザーは</br>ユーザー情報の編集ができません。</p>
  <% elsif customer == current_customer %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>ユーザー情報編集
  　<% end %>
  　<%= link_to item_edit_index_path(customer), class: "btn btn-outline-secondary btn-block", 'data-turbolinks': false do %>
      <i class="fas fa-edit"></i>投稿一覧確認
  　<% end %>
  <% else %>
    <% if current_customer.following?(customer) %>
      <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post, class: "btn btn-success" %>
    <% end %>
  <% end %>

</div>

