<div class='container'>
  <div class="form-inline mt-2 mb-3">
    <h2 class="col-2 bg-light text-center">投稿一覧</h2>
  </div>
  <div class='row'>
    <div class="col-md-12 px-5 px-sm-0">
      <table class='table table-borderless border-bottom'>
        <thead class="bg-light">
          <tr>
            <th>投稿ID</th>
            <th>投稿画像</th>
            <th>タイトル</th>
            <th>内容</th>
            <th>タグ</th>
            <th>いいね数</th>
            <th>コメント数</th>
            <th>星レビュー</th>
            <th>公開状態</th>
            <th>管理者公開状態</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to admin_item_path(item) do %>
            <%= image_tag item.get_image, size:'50x50', 'data-turbolinks': false %>
            <% end %>
          </td>
          <td><%= link_to item.title.truncate(8),admin_item_path(item) ,'data-turbolinks': false %></td>
          <td><%= item.body.truncate(12) %></td>
          <td>
            <% if item.category === nil %>
              no tag
            <% else %>
              <%= item.category.truncate(5) %>
            <% end %>
          </td>
          <td><i class="fas fa-heart" aria-hidden="true" style="color: red;"></i><%= item.favorite.size %></td>
          <td>コメント数: <%= item.item_comments.count %></td>
          <td><%= render "public/items/static_rate", item: item %></td>
          <td>
            <% if item.is_published_flag === true %>
              <p class="text-success font-weight-bold">公開</p>
            <% else %>
              <p class="text-danger font-weight-bold">非公開</p>
            <% end %>
          </td>
          <td>
            <% if item.is_admin_published_flag === true %>
              <p class="text-success font-weight-bold">公開</p>
            <% else %>
              <p class="text-danger font-weight-bold">非公開</p>
            <% end %>
          </td>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class=" mx-auto">
      <%= paginate @items %>
    </div>
  </div>
</div>

