<div class="container px-5 px-sm-0">
  <div class='row'>
    <div class="col-12px-5 px-sm-0 mx-auto">
  <% if @range == "User" %>
  <h2>Users search for"<%= params[:word] %>"</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="10"></th>
        </tr>
      </thead>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= image_tag customer.get_profile_image, size: '50x50' %></td>
            <td><%= customer.name %></td>
            <td><%= link_to 'Show', customer %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th>Tag</th>
          <th colspan="10"></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= link_to item_path(item)  do %>
              <%= image_tag item.get_image, size:'50x50', 'data-turbolinks': false %>
              <% end %>
            </td>
            <td><%= link_to item.title,item, 'data-turbolinks': false %></td>
            <td><%= item.body %></td>
            <td><%= link_to item.category, search_item_path(keyword: item.category), 'data-turbolinks': false %></td>
            <td><%= render 'public/favorites/favorite', item: item %></td>
            <td>コメント数: <%= item.item_comments.count %></td>
            <td><%= render "public/items/static_rate", item: item %></td>
            <td>By <%= item.customer.name %></td>
            <td><%= l item.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
</div>
</div>