<div class="container px-5 px-sm-0">
  <div class='row'>
    <div class="col-12px-5 px-sm-0 mx-auto">
  <% if @range == "User" %>
  <h2>Users search for"<%= params[:word] %>"</h2>
    <table class='table'>
    <thead>
      <tr>
        <th>イメージ</th>
        <th>名前</th>
        <th>フォロー</th>
        <th>フォロワー</th>
        <th colspan="8"></th>
      </tr>
    </thead>
    <tbody>
      <% customers.each do |customer| %>
        <tr>
          <td><%= image_tag customer.get_profile_image, size: '70x70', class:"rounded-circle" %></td>
          <td><h4><%= customer.name %></h4></td>
          <td><h4>
            <%= link_to customer_followings_path(customer) do %>
            <%= customer.followings.count %>
            <% end %>
          </h4></td>
          <td><h4>
            <%= link_to customer_followers_path(customer) do %>
            <%= customer.followers.count %>
            <% end %>
          </h4></td>
          <td>
            <% unless customer == current_customer %>
              <% if current_customer.following?(customer) %>
                <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete %>
              <% else %>
                <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post %>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Show', customer, 'data-turbolinks': false %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>内容</th>
          <th>タグ</th>
          <th>いいね</th>
          <th></th>
          <th>星レビュー</th>
          <th>ユーザー</th>
          <th colspan="10"></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= link_to item_path(item)  do %>
              <%= image_tag item.get_image, size:'50x50', 'data-turbolinks': false %>
              <% end %>
            </td>
            <td><%= link_to item.title.truncate(10),item, 'data-turbolinks': false %></td>
            <td><%= item.body.truncate(15) %></td>
            <td><%= link_to item.category, search_item_path(keyword: item.category), 'data-turbolinks': false %></td>
            <td><%= render 'public/favorites/favorite', item: item %></td>
            <td>コメント数: <%= item.item_comments.count %></td>
            <td><%= render "public/items/static_rate", item: item %></td>
            <td>By <%= item.customer.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
</div>
</div>