<div class="mx-auto d-flex">
<% if admin_signed_in? %>
    <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
      <div class="input-group">
      <%= f.text_field :word, placeholder: "キーワード検索", :size=>"40", class:"form-control" %>
      <span class="input-group-btn">
      <%= f.submit "検索",class:"btn btn-outline-success" %>
      </span>
      <%= f.select :search, options_for_select([["新しい順","latest_field"], ["古い順","old_field"], ["評価の高い順","star_count_field"], ["一週間のいいねの多い順","favorite_week"]]), {}, {class:"form-control"} %>
      </div>
    <% end %>

    　　　　<%= form_with url: search_item_path, local: true, method: :get do |f| %>
      <div class="input-group">
      <%= f.text_field :keyword, placeholder: "タグ検索", :size=>"20", class:"form-control" %>
      <%= f.submit "検索", class:"btn btn-outline-success" %>
      </div>
    <% end %>

<% end %>
</div>