<%= form_with model:item,local:true do |f| %>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: 'form-control item_title' %>
  </div>
  <div class="form-group">
    <%= f.label :内容 %>
    <%= f.text_area :body, class: 'form-control item_body' %>
  </div>
  <div class="form-group">
    <%= f.label :"タグ(スペースで区切ると複数タグ登録できます)" %>
    <%= f.text_field :name,value: @tag_list&.join(' '), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :画像 %>
    <%= f.file_field :image, class: "form-control-file item_image", accept: 'image/*' %>
  </div>
  <% if item.is_admin_published_flag === true %>
  <div>
    <%= f.label :is_published_flag, "公開", value: true %>
    <%= f.radio_button :is_published_flag, 'true' %>
  </div>
  <div>
    <%= f.label :is_published_flag, "非公開", value: false %>
    <%= f.radio_button :is_published_flag,'false' %>
  </div>
  <% else %>
    <strong>管理者によって非公開にされています。</strong>
  <% end %>

  <% if item.id === nil %>
    <div class="form-group">
      星レビュー
      <div id="star"></div>
    </div>

  <script>
    $(document).on('turbolinks:load', function() {
    $('#star').empty();
    let elem = document.querySelector('#star');
    elem.innerHTML = ""
    let opt = {
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'item[star]',
      half: true,
    };
    raty(elem,opt);
    });
  </script>

  <% else %>
    <%= render "static_rate", item: item %>（星は変更できません）
  <% end %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-success mt-3' %>
  </div>
<% end %>

