  <% items.each do |item| %>
    <div class="col mb-4">
      <div class="card h-100 card-item">
        <%= link_to item_path(item), 'data-turbolinks': false do %>
          <%= image_tag item.get_image, size:"200x200", class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
            <%= link_to(item_path(item.id), class:"text-dark", 'data-turbolinks': false) do %>
              <strong class="card-title"><span><%= item.title.truncate(21) %></span></strong>
            <% end %>
            <div class="d-flex">
              <%= link_to(item.customer) do %>
                <span><i class="fas fa-user"></i> By <%= item.customer.name %>　<%= render 'public/favorites/favorite', item: item %></span>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  <% end %>



