<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-12 col-lg-12 px-5 px-sm-0 mx-auto">
      <h3>新規投稿画面</h3>
      <%= render 'layouts/errors', obj: @item %>
<% if current_customer.email == 'guest@example.com' %>
	  <h3 class="mb-4 text-center">
  ゲストユーザーは新規投稿が出来ません。</br>
  新規投稿をするにはユーザー登録が必要です。</br>
  下記ボタンよりログアウトして新規登録をしてください。
  </h3>
  <div class="text-center"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete,class: 'btn btn-danger btn-bg' %></div>
<% elsif %>

<%= form_with model: @item,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control item_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control item_body' %>
  </div>
   <div class="form-group">
    <%= f.label :Tag %>
    <%= f.text_field :category, class: 'form-control item_category' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control-file item_image", accept: 'image/*' %>
  </div>

    <div class="form-group">
      Rate
      <div id="star"></div>
    </div>

  <script>
    $(document).on('turbolinks:load', function() {
    $('#star').empty();
    let elem = document.querySelector('#star');
    elem.innerHTML = ""
    let opt = {
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'item[star]',
      /*half: true,*/
    };
    raty(elem,opt);
    });
  </script>

  <div>
    <%= f.label :is_published_flag, "公開", value: true %>
    <%= f.radio_button :is_published_flag, 'true' %>
  </div>
  <div>
    <%= f.label :is_published_flag, "非公開", value: false %>
    <%= f.radio_button :is_published_flag,'false' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-success mt-3' %>
  </div>
<% end %>

<% end %>

  </div>
 </div>
</div>