<h2>Items search for"<%= params[:keyword] %>"</h2>
    <table class='table'>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th>Tag</th>
          <th colspan="10"></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= link_to(item.customer) do %>
              <%= image_tag item.customer.get_profile_image, size:'50x50', 'data-turbolinks': false %>
              <% end %>
            </td>
            <td><%= link_to item.title,item, 'data-turbolinks': false %></td>
            <td><%= item.body %></td>
            <td><%= link_to item.category, search_item_path(keyword: item.category), 'data-turbolinks': false %></td>
            <td><%= render 'public/favorites/favorite', item: item %></td>
            <td>コメント数: <%= item.item_comments.count %></td>
            <td><%= render "public/items/static_rate", item: item %></td>
            <td><%= l item.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>