<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='form'>
      <h2>User info</h2>
    </div>
    <div class='col-md-8 offset-md-1'>
    <h2>Item detail</h2>
      <div class="table-responsive">
        <table class='table'>
          <tr>
            <td><%= link_to(@item.customer) do %>
              <%= image_tag @item.customer.get_profile_image, size:"100x100" %><br>
              <%= @item.customer.name %>
              <% end %>
            </td>
            <td><%= link_to @item.title, @item %></td>
            <td><%= @item.body %></td>
            <td>
            <% if @item.category === nil %>
              no tag
            <% else %>
              <%= link_to @item.category, search_item_path(keyword: @item.category), 'data-turbolinks': false %>
            <% end %>
            </td>
            <td><%= render 'public/favorites/favorite', item: @item %></td>
            <td>コメント数: <%#= @item.item_comments.count %></td>
            <td><p class="view-count">閲覧数: <%#= @item_detail.view_counts.count %></p></td>
            <td><%= render "static_rate", item: @item %></td>
            <% if @item.customer == current_customer %>
              <td><%= link_to 'Edit', edit_item_path(@item), class: "btn btn-sm btn-success", 'data-turbolinks': false %></td>
              <td><%= link_to 'Destroy', @item, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>

          </tr>
        </table>
      </div>
      <div id="comments_area"><%#= render "item_comments/index", item: @item %></div>
      <div class="new_comment"><%#= render "item_comments/form", item: @item, item_comment: @item_comment %></div>

    </div>
  </div>
</div>