<!DOCTYPE html>
<html>
  <head>
    <title>PFHiroseDaiki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %>
      <%= render 'layouts/public/header' %>
    <% elsif %>
      <%= render 'layouts/admin/header' %>
    <% else %>
      <%= render 'layouts/public/header' %>
    <% end %>
      <main>
        <p id="notice"><%= notice %></p>
        <div class="serchebar d-flex justify-content-center mb-1">
          <%= render 'public/searches/search' %>
        </div>
        <div>
          <%= link_to new_item_path, class:"text-reset" do %>
            <i class="fa-solid fa-plus fa-2x rounded-circle shadow"></i>
          <% end %>
        </div>
        <%= yield %>
      </main>
  </body>
</html>
